# ·Éö·Éî·É•·É™·Éò·Éê 7 - ·Éõ·Éù·Éú·Éê·É™·Éî·Éõ·Éî·Éë·Éò·É° ·É†·Éê·Éõ·Éù·Éì·Éî·Éú·Éò·Éõ·Éî ·É§·Éê·Éò·Éö·Éò·É° ·Éí·Éê·Éî·É†·Éó·Éò·Éê·Éú·Éî·Éë·Éê ·É°·ÉÆ·Éï·Éê·Éì·Éê·É°·ÉÆ·Éï·Éê ·Éõ·Éî·Éó·Éù·Éì·Éò·Éó. ·É°·ÉÆ·Éï·Éê·Éì·Éê·É°·ÉÆ·Éï·Éê ·É¢·É†·Éê·Éú·É°·É§·Éù·É†·Éõ·Éê·É™·Éò·Éî·Éë·Éò ·É°·Éï·Éî·É¢·Éî·Éë·Éñ·Éî. ·É¢·Éî·É•·É°·É¢·É£·É† ·Éõ·Éù·Éú·Éê·É™·Éî·Éõ·Éî·Éë·Éñ·Éî ·Éõ·Éê·Éú·Éò·Éû·É£·Éö·Éê·É™·Éò·Éî·Éë·Éò.

Much of the programming work in data analysis and modeling is spent on data preparation:
loading, cleaning, transforming, and rearranging. Sometimes the way that data
is stored in files or databases is not the way you need it for a data processing application. pandas along with the Python standard library provide you with a high-level, flexible, and high-performance set of core manipulations
and algorithms to enable you to wrangle data into the right form.

### Combining and Merging Data Sets
Data contained in pandas objects can be combined together in a number of built-in
ways:

‚Ä¢ pandas.merge connects rows in DataFrames based on one or more keys. This will
be familiar to users of SQL or other relational databases, as it implements database
join operations.

‚Ä¢ pandas.join

‚Ä¢ pandas.concat glues or stacks together objects along an axis.

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'ID':[1,2,3,5,9],
                    'Col_1':[1,2,3,4,5],
                    'Col_2':[6,7,8,9,10],
                    'Col_3':[11,12,13,14,15],
                    'Col_4':['apple','orange','banana','strawberry','raspberry']
                    })

df2 = pd.DataFrame({'ID':[1,1,3,5],
                    'Col_A':[8,9,10,11],
                    'Col_B':[12,13,15,17],
                    'Col_4':['apple','orange','banana','kiwi']
                   })

In [4]:
df1

   ID  Col_1  Col_2  Col_3       Col_4
0   1      1      6     11       apple
1   2      2      7     12      orange
2   3      3      8     13      banana
3   5      4      9     14  strawberry
4   9      5     10     15   raspberry

In [5]:
df2

   ID  Col_A  Col_B   Col_4
0   1      8     12   apple
1   1      9     13  orange
2   3     10     15  banana
3   5     11     17    kiwi

# pd.merge() - Database-style DataFrame Merges
* For combining data on common columns
* Most flexible, but also complex of the methods we'll discuss
* many-to-one and many-to-many joins are possible
* Side-by-side merge

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [1]:
# we need to tell merge what column to merge on
# we are adding more columns to the df or placing the two columns side by side
# we only keep the rows that are common to both df's (Inner Join - this is default)
# in this example df1 is the left df and df2 is the right df (this can be changed by switching the order)
# if specify left_on and right_on with index you get key_0 this can be avoided with left_index=True, right_index=True
# one-to-many = multiple 1's in df2 merged with the 1 on df1 (df1 repeated it's 1 row to match df2's 1's)
# left_on=df1.index, right_on=df2.index    # left_index=True, right_index=True
# default is inner every column with same name - if they are different dtypes you will get an error

#### INNER
in an inner join, you will lose rows that don‚Äôt have a match in the other DataFrame‚Äôs key column. <br>
#### OUTER
in an outer join (also known as a full outer join), all rows from both DataFrames will be present in the new DataFrame.<br>
#### LEFT
Using a left outer join will leave your new merged DataFrame with all rows from the left DataFrame, while discarding rows from the right DataFrame that don‚Äôt have a match in the key column of the left DataFrame.
<br>
#### RIGHT
The right join (or right outer join) is the mirror-image version of the left join. With this join, all rows from the right DataFrame will be retained, while rows in the left DataFrame without a match in the key column of the right DataFrame will be discarded.

# df.join()
* Anything you can do with .join you can do with .merge

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

# pd.concat()
* good for side by side and stacking on top of each other

Concatenation is a bit different from the merging techniques you saw above. With merging, you can expect the resulting dataset to have rows from the parent datasets mixed in together, often based on some commonality. Depending on the type of merge, you might also lose rows that don‚Äôt have matches in the other dataset.

With concatenation, your datasets are just stitched together along an axis ‚Äî either the row axis or column axis.
https://pandas.pydata.org/docs/reference/api/pandas.concat.html

# df.append()

## Class Exercise

In [ ]:
#use the functions ion the List1.csv and list2.csv files

## Rename Columns

## Reverse column order

### Select columns by data type

## Turn numbers into categories

In [115]:
df = pd.read_csv('Salaries.csv')
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

## RegEx in Pandas
Regular expressions provide a flexible way to search or match string patterns in text. A
single expression, commonly called a regex, is a string formed according to the regular
expression language. Python‚Äôs built-in re module is responsible for applying regular
expressions to strings;

The re module functions fall into three categories: pattern matching, substitution, and
splitting. Naturally these are all related; a regex describes a pattern to locate in the text,
which can then be used for many purposes. Let‚Äôs look at a simple example: suppose I
wanted to split a string with a variable number of whitespace characters (tabs, spaces,
and newlines). The regex describing one or more whitespace characters is \s+:

match and search are closely related to findall. While findall returns all matches in a
string, search returns only the first match. More rigidly, match only matches at the
beginning of the string.

# <center>REGEX</center> # 
<img src="https://www.oreilly.com/content/wp-content/uploads/sites/2/2019/06/email-regex_crop-ae942dc427c8cebd3a83c52d17389123.jpg" alt="regex" style="width: 250px;"/>

### 0. What is regex?
- email
- phone numbers
- credit card info
- ID's
- dates
- Any other kind of standarized info

### 1. Regex BASICS üìö
1.1. What <br />
1.2. Where <br />
1.3. How many  <br />
1.4. Brackets and groups <br/>


### 2. Regex in PYTHON üêç ####

    2.1. FINDING the pattern
        2.1.1. Search
        2.1.2. Match
        2.1.3. Find all


    2.2 WORKING with the pattern
        2.2.1. sub
        2.2.2. split


### 3. Regex and pandas  ###
3.1. Lambda & function<br />
3.2. Apply<br />
3.3. Hands on<br />

# 1. Regex basics

## 1.1. WHAT ##

### characters

##### capturing vs. escaping #####
##### * (need to be escaped: "\d")  #####

- `.`  Any Character Except New Line
- `\d` Digit (0-9)
- `\D` Not a Digit (0-9)
- `\w` Word Character (a-z, A-Z, 0-9, _)
- `\W` Not a Word Character
- `\s` Whitespace (space, tab, newline)
- `\S` Not Whitespace (space, tab, newline)


## 1.2. WHERE ##
### anchors & boundaries ###

- `\b` Word Boundary
- `\B` Not a Word Boundary
- `^`  Beginning of a String
- `$` End of a String



## 1.3. HOW MANY ##
### Quantifiers

- `*`       - 0 or More
- `+`       - 1 or More
- `?`       - 0 or One
- `{3}`     - Exact Numbe{3}     - Exact Number
- `{3,4}`   - Range of Numbers (Minimum, Maximum{3,4}   - Range of Numbers (Minimum, Maximum`)

## 1.4. Brackets and groups ##


- `[]`      - Matches Characters in brackets
- `[^ ]`    - Matches Characters NOT in brackets
- `|`       - Either Or
- `( )`     - Group

Need to be escaped: . ^ $ * + ? { } \ | ( )

### Sample Regexs ###

[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+

### üìö Other resources

1Ô∏è‚É£ [The documentation](https://docs.python.org/3/howto/regex.html)<br />
2Ô∏è‚É£ [Simple CHEATSHEET](https://medium.com/factory-mind/regex-tutorial-a-simple-cheatsheet-by-examples-649dc1c3f285)  <br />
3Ô∏è‚É£ [Tutorial datacamp](https://www.datacamp.com/community/tutorials/python-regular-expression-tutorial)<br />
4Ô∏è‚É£ https://www.dataquest.io/blog/regular-expressions-data-scientists/ <br />
5Ô∏è‚É£ https://www.kaggle.com/rtatman/fraudulent-email-corpus

### Let's practice ‚ùóÔ∏è ###

Remember to:
- Make sure you know what you need to match
- It does match not only the lines, but the whole content
- Make it usable for your goals: r'.*' will necessarily match everything, try to make it somewhat specific.

https://regexone.com/lesson/matching_characters?

In [167]:
import re
text = "foo bar\t baz \tqux"

In [2]:
import re

text_to_search = '''
abcdefghijklmnopqurtuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890

Ha HaHa

MetaCharacters (Need to be escaped):
. ^ $ * + ? { } [ ] \ | ( )

321-555-4321
123.555.1234
123*555*1234
800-555-1234
900-555-1234

Mr. Schafer
Mr Smith
Ms Davis
Mrs. Robinson
Mr. T
'''

emails = '''
CoreyMSchafer@gmail.com
corey.schafer@university.edu
corey-321-schafer@my-work.net
'''


sentence = 'Start a sentence and then bring it to an end'